@model IList<TODOS.UI.Models.ToDoItemModel>

<div class="addButtonContainer">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTodoModal" data-url="@Url.Action("_AddTodo", "Todos")">
        Add Todo
    </button>
</div>


@if (Model.Count == 0)
{
    <div>
        Click the above button to add a Todo to your list.
    </div>
}
else
{

    <div class="todoCardsContainer">
        @foreach (var item in Model)
        {
            <div class="card">
                <div class="card-header bg-color-turquoise-green">
                    <input id="id" type="hidden" asp-for="@item.id" />
                    <h5 class="card-title">
                        @Html.DisplayFor(modelItem => item.title)
                    </h5>
                </div>
                <div class="card-body d-flex flex-column justify-content-between">
                    <p class="card-text">
                        @Html.DisplayFor(modelItem => item.content)
                    </p>
                    <small class="text-muted">Last Modified:  @Html.DisplayFor(modelItem => item.lastModified) </small>
                </div>
                <div class="card-footer bg-color-turquoise-green">
                    <button type="button" class="btn btn-info" data-toggle="modal"
                            data-target="#detailsTodoModal"
                            data-url="@Url.Action("_Details", "Todos", new { id = item.id })">
                        Details
                    </button>

                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#updateTodoModal"
                            data-url="@Url.Action("_UpdateTodo", "Todos", new { id = item.id })">
                        Update
                    </button>

                    <button type="button" class="btn btn-danger" data-toggle="modal"
                            data-target="#deleteTodoModal"
                            data-url="@Url.Action("_DeleteTodo", "Todos", new { id = item.id })">
                        Delete
                    </button>
                </div>
            </div>

            <!-- Add partial views _DeleteTodo, _UpdateTodo, and _Details" model="item" /> -->
            @await Html.PartialAsync("_DeleteTodo", item);
            @await Html.PartialAsync("_UpdateTodo", item);
            @await Html.PartialAsync("_Details", item);

        }
    </div>

}
